#nav{
  background-color: rgb(57,174,188);
  color: rgb(246,250,251);
  padding: 15px;
}

#viewAud{
  margin-bottom: 0px;
  font-weight: 500;
}

#saveSegmentBtn{
  border: 2px solid rgb(246,250,251);
  background: transparent !important;
  border-radius: 0px !important;
}

/* PopupDiv Styles */
#popupDiv{
  background-color: rgb(246,246,246);
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  min-height: 100vh;
  max-height: 100vh;
}

#popupBackgound{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure the popup background is on top */
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: flex-start; /* Align content to the top */
  padding: 2px;
}

#popupNav{
  background-color: rgb(57,174,188);
  color: rgb(246,250,251);
  padding: 15px 0px;
}

#savingSegment{
  margin-bottom: 0px;
  font-weight: 500;
}

#popupContent{
  padding: 15px;
  height: 82vh;
  overflow: auto;
}

input,select{
  border-radius: 0px !important;
  border:  1px solid gray !important;
}

#traitsType{
  list-style: none;
  display: flex;
}

#traitsType :before {
  content: ""; /* Add content before each list item */
  display: inline-block;
  width: 10px; /* Size of the circle */
  height: 10px; /* Size of the circle */
  margin-right: 10px; /* Space between circle and text */
  border-radius: 50%; /* Shape the circle */
  margin: 0px 15px;
  background-color: green; /* Color of the circle */
}

#traitsList {
  list-style: none; /* Remove default list styles */
  padding: 0;
}

#traitsList li {
  margin-bottom: 10px;
  position: relative; /* Needed for absolute positioning of :before */
  padding-left: 25px; /* Space for the circle and some additional space */
}

#traitsList li:before {
  content: "";
  width: 10px;
  display: flex !important;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Style for the first li */
#traitsList li:nth-child(1):before {
  background-color: green;
}

/* Style for the second li */
#traitsList li:nth-child(2):before {
  background-color: red;
}


#shemaList{
  border: 2px solid rgb(111,168,220);
  padding: 10px;
  overflow: auto;
  max-height: 250px;
}

#addNewSchemaBtn{
  background: transparent;
  border: none;
  text-decoration: underline;
}

.custom-select {
  appearance: none; /* Hide the default arrow in modern browsers */
  -webkit-appearance: none; /* Hide the default arrow for older Safari */
  -moz-appearance: none; /* Hide the default arrow for older Firefox */
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpUUC_tnwBcsbSK-hw1ZPWsly-IiMbPsG7lg&usqp=CAU');
  background-size: 3%;
  background-repeat: no-repeat;
  background-position: right 10px top 50%; /* Adjust position as needed */
  padding-right: 20px; /* Space for the arrow */
}